@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Azure Blob Demo</h2>
        <p style="text-wrap: normal">This demo is designed to showcase connecting to a blob storage and storing image assigned to a specific user.</p>
    </div>
</div>